header {
    font-size: 30px;
    text-align: center;
    padding: 6px;
}

.searchbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchbar > div {
    padding: 30px;
}

.compare {
    text-align: center;
    font-size: 20px;
    padding: 5px
}

.compare-button {
    padding: 3px;
}