header {
    font-size: 30px;
    text-align: center;
    padding: 6px;
}


/*** form css ***/

#search1, #search2 {
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000
}

.searchbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchbar > div {
    padding: 30px;
}

.compare {
    text-align: center;
    font-size: 20px;
    padding: 5px
}

.compare-button {
    padding: 3px;
}

/*** head2head ***/

.head2head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.head2head > div {
    padding: 10px;
}

.repo1-stats, .repo2-stats {
    text-align: center;
    flex: 1;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
}

.basic-info-display, .metrics-display {
    margin-top: 10px;
    margin-bottom: 10px;
}

.basic-info-title {
    font-weight: bold;
    font-size: 24px;
}

.basic-info {
    font-size: 24px;
}

.metric-category {
    font-weight: bold;
    font-size: 22px;
}

.metric-container {
    border-style: solid;
    border-radius: 7px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.metric-container-title {
    font-size: 20px;
    text-decoration: underline;
}

.submetric-container {
    
}

.submetric-container-title {
    font-size: 18px;
}

.metric {
    color: green;
    font-size: 18px;
}

.confidence {
    font-size: 15px;
}