.nav-link {
    margin-left: 10px;
    margin-right:10px
}

.navigation-bar {
    background-color: #5b4da2;
}

.navLogo {
    height: 30px;
    padding-right: 5px;
}

.gitLogo {
    height: 30px;
    padding-right: 5px;
}
.OSSScoreLink {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    .OSSScoreLink {
      display: none;
    }
  }


