

.bubbles {
    position: relative;
    top: -80px;
    left: 250px;
    color: white;
}


.fish{
    color: white;
    position: relative;
    top: -35px;
}


.not-found-text {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
}


.not-found-body {
    background-color: #5b4da2;
    margin-top: 50px;
    width: 750px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767.6px) {
    .not-found-body {
        width: 600px;
    }

    .bubbles {
        left: 230px;
    }    
}

@media only screen and (max-width: 698px) {
    .not-found-body {
        width: 500px;
    }
}