

.bubbles {
    position: relative;
    /* float: top; */
    top: -80px;
    left: 250px;
    color: white;
}


.fish{
    color: white;
    position: relative;
    top: -35px;
}


p.not-found-text {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
}


div.not-found-body {
    background-color: #5b4da2;
    margin-top: 50px;
    width: 60%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

div.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}