.privacy { 
    text-align: left;
    color: white;
}

header {
    font-weight: 700;
}


.privacy-body {
    background-color: #5b4da2;
    margin-top: 50px;
    width: 850px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767.6px) {
    .privacy-body {
        width: 600px;
    }
}

@media only screen and (max-width: 698px) {
    .privacy-body {
        width: 500px;
    }
}